<!-- ko if: (isPrivacyPolicyEnabled) -->
<div class="messenger-privacy-policy"
     data-bind="{visible: isPopupOpened}">
    <div class="messenger-popup">
        <h2 class="messenger-title" data-bind="i18n: 'Privacy Policy'"></h2>
        <div class="messenger-content" data-bind="html: privacyPolicyContent"></div>
        <!-- ko foreach: getRegion('messenger-after-privacy-policy') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="messenger-actions">
            <button class="messenger-button -accept"
                    data-bind="
                        i18n: 'I have read and accept',
                        click: acceptPrivacyPolicy,
                        attr: {
                            title: $t('I have read and accept'),
                            'aria-label': $t('I have read and accept')
                        }
            "></button>
            <button class="messenger-button -reject"
                    data-bind="
                        i18n: 'Reject',
                        click: closePopup,
                        attr: {
                            title: $t('Reject'),
                            'aria-label': $t('Reject')
                        }
                    "></button>
        </div>
    </div>
    <div class="messenger-overlay" data-bind="{click: closePopup}"></div>
</div>

<each args="data:elems(), as: 'element'">
    <render if="hasTemplate()"></render>
</each>
<!--/ko-->
