<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DevHub\MessengerWidget\Api\Data\MessengerInterface" type="DevHub\MessengerWidget\Model\Messenger"/>
    <preference for="DevHub\MessengerWidget\Api\MessengerGetInterface" type="DevHub\MessengerWidget\Model\Messenger\MessengerGet"/>
    <preference for="DevHub\MessengerWidget\Api\MessengerSaveInterface" type="DevHub\MessengerWidget\Model\Messenger\MessengerSave"/>
    <preference for="DevHub\MessengerWidget\Api\MessengerDeleteInterface" type="DevHub\MessengerWidget\Model\Messenger\MessengerDelete"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="messengerwidget_messenger_listing_data_source" xsi:type="string">DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="DevHub\MessengerWidget\Ui\Component\Listing\Column\Store">
        <arguments>
            <argument name="storeKey" xsi:type="string">store_ids</argument>
        </arguments>
    </type>

    <type name="DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection">
        <arguments>
            <argument name="resourceModel" xsi:type="string">DevHub\MessengerWidget\Model\ResourceModel\Messenger</argument>
            <argument name="collectionProcessor" xsi:type="object">DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection\Processor</argument>
        </arguments>
    </type>

    <virtualType name="DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection\Processor" type="DevHub\MessengerWidget\Model\ResourceModel\Collection\Processor">
        <arguments>
            <argument name="dataFillers" xsi:type="array">
                <item name="name" xsi:type="object">DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection\DataFiller\MessengerName</item>
                <item name="store" xsi:type="object">DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection\DataFiller\Store</item>
            </argument>
            <argument name="filterAndSortingAppliers" xsi:type="array">
                <item name="name" xsi:type="object">DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection\FilterAndSortingApplier\MessengerName</item>
                <item name="store" xsi:type="object">DevHub\MessengerWidget\Model\ResourceModel\Messenger\Grid\Collection\FilterAndSortingApplier\Store</item>
            </argument>
        </arguments>
    </virtualType>
</config>
