<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="developerhub" translate="label" sortOrder="999999" class="devhub-tab ambase-tab-container">
            <label>DeveloperHub</label>
        </tab>
        <section id="messenger_widget" translate="label" type="text" sortOrder="32101" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Instant Messages</label>
            <tab>developerhub</tab>
            <resource>DevHub_MessengerWidget::config</resource>
            <group id="devhub_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Information</label>
                <frontend_model>DevHub\MessengerWidget\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>InstantMessages</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instant Messages Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="widget_position" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <source_model>DevHub\MessengerWidget\Model\Config\Source\WidgetPosition</source_model>
                </field>
            </group>
            <group id="privacy_policy" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Privacy Policy</label>
                <field id="is_privacy_policy_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Privacy Policy Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="privacy_policy_text" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Policy Text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Only 'a', 'b', 'br', 'em', 'i', 'li', 'ol', 'p', 'strong', 'sub', 'sup', 'ul' tags are allowed</comment>
                    <depends>
                        <field id="is_privacy_policy_enabled">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
